# How to install dependencies:
#   python -m pip install -U pip
#   python -m pip install -U -r requirements.txt -t lib

argon2pure >= 1.3
  #lib/argon2pure.py
  #lib/six.py

mistune >= 0.8.4
  #lib/mistune.py

peewee >= 3.8.0
  #lib/peewee.py
  #lib/playhouse/*

pyaes >= 1.6.1
  #lib/pyaes/*

pygments >= 2.3.1
  #lib/pygments/*

pyyaml >= 3.13
  #lib/yaml/*
